/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


  
/* START */



/* CONSTANT VARIABLES */

$primaryColor: #022b3a;
$secondColor: #1f7a8c;
$thirdColor: #ffd700;
$accepted: #89e000;
$danger: #FF0000;



@font-face {
    font-family: 'nextfont';
    src: url('../fonts/thenextfont-webfont.woff2') format('woff2'),
         url('../fonts/thenextfont-webfont.woff') format('woff'),
		 url('../fonts/thenextfont.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


body{
	font-family:'nextfont';

	p {
		background: #FFF;
		border-radius: 4px;
		padding: 20px;
	}
	
	min-widht: 320px;

}

/* LOGIN VIEW */


#loginContainer{
	background: $primaryColor;
	position:absolute;
	text-align:center;
	height: 90vh;
	width: 100vw;
	font-size:0;
	
	img{
		height:40vh;
		width: auto;
	}
	
	section{
		margin-top: 5vh;
	}
	
	input{
		font-family: 'nextfont';
		text-align:center;
	}
	
	input[type=text]{
			margin-top: 1vh;
			height:10vh;
			border: none;
			border-radius: 5px;
			height: 5vh;
			font-size: 3vh;
			color: $secondColor;
	}
	input[type=submit]{
			background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
			cursor:pointer;
            overflow: hidden;
			color: $thirdColor;
			height: 5vh;
			font-size: 3vh;
	}
	
	a{
			color: $thirdColor;
	}

}

/* SIGNUP VIEW */


#signupLink{
	position:absolute;
	height:10vh;
	width:100vw;
	bottom:0;
	background: $primaryColor;
	text-align:center;
	font-size:3vh;
	a{
			color: $thirdColor;
			text-decoration: none;
			margin-top:2vh;
	}
}


/* NAVIGATION */


#topNav{
	background-color: $primaryColor;
	width: 100vw;
	height:6vh;
	top:0;
	text-align:center;
	font-size:3vh;
	li{
		display: inline-block;
		margin-top:1vh;
		width:32vw;
	}
	
	a{
		color: #ffffff;
		text-decoration: none;
	}
	
	 
	.active{
		color: $thirdColor;
	}
		
}

#userInfo{
	width:100vw;
	margin-top:1vh;
	text-align: center;
	
	li{
		display: inline-block;
		width:48vw;
	}
	
	#username{
		text-align:left;
	}
	#date{
		text-align:right;
	}

}


/* WORKOUT VIEW */

#workouts{
	width: 100vw;
	max-height: 70vh;
	text-align:center;
	margin-top: 2vh;
	overflow: scroll;
    overflow-x: hidden;

}

.secHead{
	width:97vw;
	min-height: 10vh;
	margin: 0 auto;
	background-color: $thirdColor;

	
	img{
		height: 5vh;
		margin-top:.5vh;
	}
	
	ul{
		margin: 0 2vw;
	}
	
	li{
		display:inline-block;
		font-size: 2vh;
		text-align:left;
	}
	
	.firstCol{
		width: 26vw;
	}
	.secondCol{
		width: 22vw;
	}
	.thirdCol{
		width: 25vw;
	}
	.delete , .repeat{
		width:10vw;
	}

	
}

.logItem{
	width:97vw;
	height: 6vh;
	margin: 0 auto;
	color:#ffffff;
	background-color:$primaryColor;

	li{
		display:inline-block;
		font-size: 2vh;
		text-align:left;
	}	
	.firstCol{
		width: 26vw;
	}
	.secondCol{
		width: 22vw;
	}
	.thirdCol{
		width: 25vw;
	}
	.delete , .repeat{
		width:10vw;
	}
}



#workoutBottomBar{
	position:fixed;
	width: 100vw;
	height:14vh;
	bottom:0;
	font-size:3vh;

	#cardioType{
		display: inline-block;
		margin-top:1vh;
		width:17vw;
		height: 14vh;
		text-align: center;
		background: url(../imgs/whiteCardio.png) no - repeat center center;
		background-color: $primaryColor;
	}
	
	#weightType{
		display: inline-block;
		margin-top:1vh;
		width:17vw;
		height: 14vh;
		text-align: center;
		background: url(../imgs/vertWhiteWeight.png) no - repeat center center;
		background-size: 5vh auto;
		background-color: $primaryColor;
	}
	
	#workoutForm{
		display: inline-block;
		margin-top:1vh;
		width:66vw;
		height: 14vh;
		text-align: center;
		background-color: $secondColor;
	}	
	
	#formStatusValid{
		display: inline-block;
		margin-top:1vh;
		width:17vw;
		height: 14vh;
		text-align: center;
		background-color: $accepted;
	}
	
	#formStatusInvalid{
		display: inline-block;
		margin-top:1vh;
		width:17vw;
		height: 14vh;
		text-align: center;
		background-color: $danger;
	}
	
}






