/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* START */



/* CONSTANT VARIABLES */

$primaryColor: #022b3a;
$secondColor: #1f7a8c;
$thirdColor: #ffd700;
$forthColor: #c2c2c2;
$placeHolder: #84b6c0;
$accepted: #89e000;
$danger: #FF0000;


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family:'nextfont';
	margin-top: 1vh;
	border: none;
	border-radius: 5px;
	height: 5vh;
	font-size: 3vh;
	color: $placeHolder;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family:'nextfont';
	margin-top: 1vh;
	border: none;
	border-radius: 5px;
	height: 5vh;
	font-size: 3vh;
	color: $placeHolder;
}
:-ms-input-placeholder { /* IE 10+ */
	font-family:'nextfont';
	margin-top: 1vh;
	border: none;
	border-radius: 5px;
	height: 5vh;
	font-size: 3vh;
	color: $placeHolder;
}
:-moz-placeholder { /* Firefox 18- */
	font-family:'nextfont';
	margin-top: 1vh;
	border: none;
	border-radius: 5px;
	height: 5vh;
	font-size: 3vh;
	color: $placeHolder;
}



@font-face {
    font-family: 'nextfont';
    src: url('../fonts/thenextfont-webfont.woff2') format('woff2'),
         url('../fonts/thenextfont-webfont.woff') format('woff'),
		 url('../fonts/thenextfont.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


body{
	font-family:'nextfont';
	overflow: hidden;

	p {
		background: #FFF;
		border-radius: 4px;
		padding: 20px;
	}
	
	min-width: 320px;

}

/* LOGIN VIEW */


#loginContainer{
	background: $primaryColor;
	position:absolute;
	text-align:center;
	height: 90vh;
	width: 100vw;
	font-size:0;
	
	img{
		height:40vh;
		width: auto;
	}
	
	section{
		margin-top: 5vh;
	}
	
	input{
		font-family: 'nextfont';
		text-align:center;
	}
	
	input[type=text]{
			margin-top: 1vh;
			border: none;
			border-radius: 5px;
			height: 5vh;
			font-size: 3vh;
			color: $secondColor;
	}
	input[type=submit]{
			background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
			cursor:pointer;
            overflow: hidden;
			color: $thirdColor;
			height: 5vh;
			font-size: 3vh;
	}
	
	a{
			color: $thirdColor;
	}

}

/* SIGNUP VIEW */


#signupLink{
	position:absolute;
	height:10vh;
	width:100vw;
	bottom:0;
	background: $primaryColor;
	text-align:center;
	font-size:3vh;
	a{
			color: $thirdColor;
			text-decoration: none;
			margin-top:2vh;
	}
}


/* NAVIGATION */


#topNav{
	background-color: $primaryColor;
	width: 100vw;
	height:6vh;
	top:0;
	text-align:center;
	font-size:3vh;

	li{
		display: inline-block;
		margin-top:1vh;
		width:32vw;
	}
	
	a{
		color: $forthColor;
		text-decoration: none;
	}
	
	 
	.active{
		color: $thirdColor;
	}
		
}

#userInfo{
	width:100vw;
	margin-top:1vh;
	text-align: center;
	
	li{
		display: inline-block;
		width:48vw;
	}
	
	#username{
		text-align:left;
	}
	#date{
		text-align:right;
	}

}


/* WORKOUT VIEW */

#workouts{
	width: 100vw;
	max-height: 70vh;
	text-align:center;
	margin-top: 2vh;
	overflow: scroll;
    overflow-x: hidden;

}

.secHead{
	width:97vw;
	min-height: 10vh;
	margin: 0 auto;
	background-color: $thirdColor;

	
	img{
		height: 5vh;
		margin-top:.5vh;
	}
	
	ul{
		margin: 0 2vw;
	}
	
	li{
		display:inline-block;
		font-size: 2vh;
		text-align:left;
	}
	
	.firstCol{
		width: 26vw;
	}
	.secondCol{
		width: 22vw;
	}
	.thirdCol{
		width: 25vw;
	}
	.delete , .repeat{
		width:10vw;
	}

	
}

.logItem{
	width:97vw;
	min-height: 6vh;
	margin: 0 auto;
	color:#ffffff;
	background-color:$primaryColor;

	li{
		display:inline-block;
		text-align:left;
		margin-bottom:1vh;
	}	
	.firstCol{
		width: 26vw;
		font-size: 2.75vh;
	}
	.secondCol{
		width: 22vw;
		font-size: 4vh;
	}
	.thirdCol{
		width: 25vw;
		font-size: 4vh;

	}
	.delete , .repeat{
		width:10vw;
	}
	
	img{
		height: 4vh;
		width: auto;
		margin: 1vh auto;
	}
}



#workoutBottomBar{
	position:fixed;
	width: 100vw;
	height:14vh;
	bottom:0;
	font-size:3vh;

	#cardioType{
		position:fixed;
		left:0;
		display: inline-block;
		width:17vw;
		height: 14vh;
		text-align: center;
		background: url(../imgs/whiteCardio.png) no - repeat center center;
		background-size: 5vh auto;
		background-color: $primaryColor;
	}
	
	#weightType{
		position:fixed;
		left:0;
		display: inline-block;
		width:17vw;
		height: 14vh;
		text-align: center;
		background: url(../imgs/vertWhiteWeight.png) no - repeat center center;
		background-size: 5vh auto;
		background-color: $primaryColor;
	}
	
	#workoutForm{
		position:fixed;
		left:17vw;
		right:17vw;
		display: inline-block;
		width:66vw;
		height: 14vh;
		text-align: center;
		background-color: $secondColor;
		
			input{
				display: inline-block;
				margin-top: 1vh;
				border: none;
				border-radius: 5px;
				height: 5vh;
				font-family:'nextfont';
				font-size: 3vh;
				color: $secondColor;
				text-align:center;
			}
			
			.workoutTopInput{
				width: 61vw;
			}
			
			.workoutBottomInput{
				width: 29vw;
				margin: 1vw 1vw;
			}
	}	
	
	#submitable{
		position:fixed;
		right:0;
		display: inline-block;
		width:17vw;
		height: 14vh;
		text-align: center;
		background: url(../imgs/whiteSubmit.png) no - repeat center center;
		background-color: $accepted;	
	}
	
	
	#noSubmit{
		position:fixed;
		right:0;
		display: inline-block;
		width:17vw;
		height: 14vh;
		text-align: center;
		background: url(../imgs/whiteX.png) no - repeat center center;
		background-size: 5vh auto;
		background-color: $danger;
	}
	

	
}






