<div id="loginContainer">
	<section>
		<img src="imgs/logo.png">
		
		<form>
		  <input type="text" name="password" placeholder="EMAIL"><br><br>
		  <input type="text" name="username" placeholder="USERNAME"><br>
		  <input type="password" name="password" placeholder="PASSWORD"><br>
		  <input type="password" name="password" placeholder="CONFIRM PASSWORD"><br><br>
		  <input type="submit" value="Signup" ng-click="signup();">
		</form>
	</section>
</div><!--
--><div id="signupLink">
	<a ui-sref="login" ui-sref-active="active">Back to login</a>
</div>