<ng-include src="'partial/header.html'"></ng-include>

<div id="workouts">
	<section class="secHead" ng-if="workouts.cardio.length == 0 && workouts.weight.length == 0">
		No Workouts Yet! Add one below!
	</section><!--
	
	--><section class="secHead" ng-if="workouts.weight.length > 0">
		<img src="/imgs/blueWeight.png"><!--
		--><ul>
			<li class="firstCol">Workout</li><!--
			--><li class="secondCol">Weight</li><!--
			--><li class="thirdCol">Reps</li><!--
			--><li class="delete"></li><!--
			--><li class="repeat"></li><!--
			-->
		</ul>
	</section><!--
	
	--><ul class="logItem" ng-repeat="x in workouts.weight">

			<li class="firstCol">{{x.name}}</li><!--
			--><li class="secondCol">{{x.weight}}</li><!--
			--><li class="thirdCol">{{x.reps}}</li><!--
			--><li class="delete" ng-click="deleteWeightWorkout(x.id);"><img src="imgs/whiteDelete.png"></li><!--
			--><li class="repeat" ng-click="duplicateWeightWorkout(x.id);"><img src="imgs/whiteDuplicate.png"></li><!--
			-->
	</ul><!--
	
	--><section class="secHead" ng-if="workouts.cardio.length > 0">
		<img src="/imgs/blueCardio.png"><!--
		--><ul>
			<li class="firstCol">Workout</li><!--
			--><li class="secondCol">Intensity</li><!--
			--><li class="thirdCol">Time(min)</li><!--
			--><li class="delete"></li><!--
			--><li class="repeat"></li><!--
			-->
		</ul>
	</section><!--
	
	--><ul class="logItem" ng-repeat="y in workouts.cardio">

			<li class="firstCol">{{y.name}}</li><!--
			--><li class="secondCol">{{y.intensity}}</li><!--
			--><li class="thirdCol">{{y.time}}</li><!--
			--><li class="delete" ng-click="deleteCardioWorkout(y.id);"><img src="imgs/whiteDelete.png"></li><!--
			--><li class="repeat" ng-click="duplicateCardioWorkout(y.id);"><img src="imgs/whiteDuplicate.png"></li><!--
			-->
	</ul><!--
	
	--><button type="button" ng-if="workouts.cardio.length > 0 || workouts.weight.length > 0">Finalize Workout</button>

</div><!--

--><section id="workoutBottomBar">
	<section ng-click="switchWorkoutInput();" ng-attr-id="{{isWeightLifting ? 'weightType': 'cardioType'}}"><!--
	--></section><!--
	--><!--
	--><section class="workoutForm" ng-if="isWeightLifting">
		<form name="weightForm" ng-submit="addWeightWorkout();">	
			<input type="text" class="workoutTopInput" ng-model="newWeightWorkout.name" placeholder="Workout Name" required>
			<input type="number" class="workoutBottomInput" ng-model="newWeightWorkout.weight" placeholder="Weight" required>
			<input type="number" class="workoutBottomInput" ng-model="newWeightWorkout.reps" placeholder="Reps" required>
			<button type="submit" ng-attr-id="{{weightForm.$valid ? 'submitable': 'noSubmit'}}"></button>
		</form>
	</section><!--
	--><section class="workoutForm" ng-if="!isWeightLifting">
		<form name="cardioForm" ng-submit="addCardioWorkout();">	
				<input type="text" class="workoutTopInput" ng-model="newCardioWorkout.name" placeholder="Workout Name" required>
				<input type="text" class="workoutBottomInput" ng-model="newCardioWorkout.intensity" placeholder="Intensity" >
				<input	type="number" class="workoutBottomInput" ng-model="newCardioWorkout.time" placeholder="Time" required>
				<button type="submit" ng-attr-id="{{cardioForm.$valid ? 'submitable': 'noSubmit'}}"></button>
		</form>
	</section><!--
	-->
</section>